[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# Visual Studio
.vscode/
.vs/
*.csproj
*.sln
*.slnx
*.user
*.userprefs
*.pidb
*.booproj

# OS
.DS_Store
Thumbs.db